.border-top-violet {
  border-top: 10px solid #673ab7;
}

.h-120px {
  height: 120px;
}

.btn-border {
  border: 1px solid #673ab7;
}

.btn-width-primary {
  width: 80px;
}

.cursor-pointer {
  cursor: pointer;
}

.chip-with-icon {
  padding: 5px;
}

p,
h1 {
  word-break: break-all;
}

.option {
  height: fit-content;
  min-height: 120px;
  &__content {
    &--title {
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 500;
      letter-spacing: 0.0125em;
      font-family: 'Roboto', sans-serif;
      text-transform: none;
      word-break: break-word;
    }
  }
}

.left-area {
  background-color: transparent;
  max-width: calc(100% / 3);
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  &__rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;

    &--bottom {
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: center;
      margin-top: 40px;
    }
  }
}

.right-area {
  background-color: transparent;

  &__list-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 140px);
    overflow-y: scroll;
    padding: 8px;
    border-radius: 4px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
